---
name: Nightly builds in Fedora Copr
on:
  schedule:
    - cron:  '0 0 * * *'  # at midnight UTC

jobs:
  build:
    name: Build
    container: fedora:latest
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false  # don't fail all matrix jobs if one of them fails
      matrix:
        project: [dnf-nightly, dnf5-unstable]
        variant: ['', -sanitizers]
        exclude:
          - project: dnf5-unstable
            variant: -sanitizers
    steps:
      - name: Check out sources
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install API token for Copr
        env:
          COPR_API_TOKEN: ${{secrets.COPR_API_TOKEN}}  # use env to hide the secret
        run: |
          mkdir -p "$HOME/.config"
          echo "$COPR_API_TOKEN" > "$HOME/.config/copr"

      - name: Install tools
        run: |
          dnf -y install dnf-plugins-core
          dnf -y copr enable rpmsoftwaremanagement/rpm-gitoverlay
          dnf -y install rpm-gitoverlay

      - name: Build in Copr
        run: rpm-gitoverlay build-overlay -s overlays/${{matrix.project}} rpm copr --owner rpmsoftwaremanagement --project ${{matrix.project}}${{matrix.variant}} --no-wait
